.bold {
  font-weight: bold;
}

.status {
  font-size: 12px;
  color: white;
  &.pending {
    background: #ff8040;
  };
  &.approved {
    background: green;
  }
  &.rejected {
    background: red;
  }
}
