<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input 
            type="email" 
            class="form-control" 
            id="email" 
            placeholder="Email" 
            formControlName="email"
            [ngClass]="{'is-invalid': form.get('email').invalid && form.get('email').touched}"
          >
          <span *ngIf="form.get('email').invalid && form.get('email').touched">
            <span 
              *ngIf="form.get('email').errors['required']" 
              class="invalid-feedback" 
              style="display: block"
            >
              Email can't be blank
            </span>
            <span
              *ngIf="form.get('email').errors['email']" 
              class="invalid-feedback" 
              style="display: block"
            >
              Email is invalid
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input 
            type="text" 
            class="form-control" 
            id="username" 
            placeholder="Username" 
            formControlName="username"
            [ngClass]="{'is-invalid': form.get('username').invalid && form.get('username').touched}"
          >
          <span 
            *ngIf="form.get('username').invalid && form.get('username').touched"
            class="invalid-feedback" 
            style="display: block"
          >
              Username can't be blank
          </span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            placeholder="Password" 
            formControlName="password"
            [ngClass]="{'is-invalid': form.get('password').invalid && form.get('password').touched}"
          >
          <span *ngIf="form.get('password').invalid && form.get('password').touched">
            <span 
              *ngIf="form.get('password').errors['required']" 
              class="invalid-feedback" 
              style="display: block"
            >
              Password can't be blank
            </span>
            <span
              *ngIf="form.get('password').errors['minlength']" 
              class="invalid-feedback" 
              style="display: block"
            >
              Password can't be less than {{form.get('password').errors['minlength']['requiredLength']}}
              Currently it is {{form.get('password').errors['minlength']['actualLength']}}
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="first">First name</label>
          <input 
            type="text" 
            class="form-control" 
            id="first" 
            placeholder="First Name" 
            formControlName="firstname"
            [ngClass]="{'is-invalid': form.get('firstname').invalid && form.get('firstname').touched}"
          >
          <span 
            *ngIf="form.get('firstname').invalid && form.get('firstname').touched"
            class="invalid-feedback" 
            style="display: block"
          >
            Firstname can't be blank
          </span>
        </div>
        <div class="form-group">
          <label for="last">Last name</label>
          <input 
            type="text" 
            class="form-control" 
            id="last" 
            placeholder="Last Name" 
            formControlName="lastname"
            [ngClass]="{'is-invalid': form.get('lastname').invalid && form.get('lastname').touched}"
          >
          <span 
            *ngIf="form.get('lastname').invalid && form.get('lastname').touched"
            class="invalid-feedback" 
            style="display: block"
          >
            Lastname can't be blank
          </span>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="form.invalid">Register</button>
      </form>
    </div>
  </div>
</div>

<div 
  mdbModal 
  #frame="mdbModal" 
  class="modal fade top" 
  id="frameModalTop" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Successfull Registration!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
          <p>One more step and you are ready. Please verify your account by activating from your email.</p>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a 
          type="button" 
          mdbBtn 
          color="success" 
          class="waves-effect" 
          mdbWavesEffect 
          [routerLink]="['/login']"
        >
          Sure, now!
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>