<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 offset-md-3" style="margin-top: 40px; margin-bottom: 40px;">
      <h3>
        Section for solutions
      </h3>
    </div> 
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-info mleft15" [routerLink]="['/courses', 'statistics']">Statistics</button>
      <div class="col-sm-12 maxWidth300">
        <p>In this section you can find some solutions to descriptive statistics problems</p>
      </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-info mleft15" [routerLink]="['/courses', 'numerical']">Numerical Analysis</button>
      <div class="col-sm-12 maxWidth300">
          <p>In this section you can find some solutions to numerical analysis problems</p>
        </div>
    </div>
    <div class="col-md-4">
      <button class="btn btn-info mleft15" [routerLink]="['/courses', 'calc3']">Calculus 3</button>
      <div class="col-sm-12 maxWidth300">
          <p>In this section you can find some solutions to calculus 3 problems</p>
        </div>
    </div>
  </div>
</div>