<div class="container ">
  <div class="row justify-content-md-center">
    <h2>Some functions of descriptive statistics</h2>
    <div class="col-lg-8">
      <h3>Mean</h3>
      <div class="form-group">
        <label for="mean">Calculate the mean</label>
        <input #mean type="text" class="form-control" id="mean">
        <button class="btn btn-default" (click)="calculateMean(mean.value.split(','))">Calculate</button>
        <span *ngIf="finalMean">
          Mean for this dataset is {{finalMean | number:'.1-2'}}
        </span>
      </div>
    </div>
    <div class="col-lg-8">
      <h3>Median</h3>
      <div class="form-group">
        <label for="median">Calculate the median</label>
        <input #median type="text" class="form-control" id="median">
        <button class="btn btn-default" (click)="calculateMedian(median.value.split(','))">Calculate</button>
        <span *ngIf="finalMedian">
          Median for this dataset is {{finalMedian | number:'.1-2'}}
        </span>
      </div>
    </div>
    <div class="col-lg-8">
      <h3>Mode</h3>
      <div class="form-group">
        <label for="mode">Calculate the mode</label>
        <input #mode type="text" class="form-control" id="mode">
        <button class="btn btn-default" (click)="calculateMode(mode.value.split(','))">Calculate</button>
        <span *ngIf="finalMode">
          Mode for this dataset is {{finalMode | number:'.1-2'}}
        </span>
      </div>
    </div>
    <div class="col-lg-8">
        <h3>Variance</h3>
        <div class="form-group">
          <label for="variance">Calculate the Variance</label>
          <input #variance type="text" class="form-control" id="variance">
          <button class="btn btn-default" (click)="calculateVariance(variance.value.split(','))">Calculate</button>
          <span *ngIf="finalVariance">
            Variance for this dataset is {{finalVariance | number:'.1-2'}}
          </span>
        </div>
      </div>
      <div class="col-lg-8">
        <h3>Sort</h3>
        <div class="form-group">
          <label for="sort">Sort data</label>
          <input #sort type="text" class="form-control" id="sort">
          <button class="btn btn-default" (click)="sortData(sort.value.split(','))">Sort</button>
          <span *ngIf="sorted">
            Sorted dataset is {{sorted}}
          </span>
        </div>
      </div>
      <div class="col-lg-8">
        <h3>K-th order statistics</h3>
        <div class="form-group">
          <div class="row">
          <div class="col-lg-8">
              <label for="kthod">Dataset</label>
              <input #kthOrderData type="text" class="form-control" id="kthod">
          </div>
          <div class="col-lg-4">
              <label for="kthos">K-th order stat</label>
              <input #kthOrderStat type="text" class="form-control" id="kthos">
          </div>
          </div>
          <button class="btn btn-default" (click)="kthOrderStatistics(kthOrderData.value.split(','), kthOrderStat.value)">Calculate</button>
          <span *ngIf="kos">
            {{kthOrderStat.value}}-{{
              kthOrderStat.value == 1 ? 'st' : 
              kthOrderStat.value == 2 ? 'nd' : 
              kthOrderStat.value == 3 ? 'rd' : 'th'
            }} order statistics for this dataset is {{kos}}
          </span>
        </div>
      </div>
  </div>
</div>