.line {
  margin-top: 20px;
  margin-left: 120px;
  width: 110px;
  height: 150px;
  border-bottom: 3px solid deepskyblue;
  border-left: 3px solid deepskyblue;
  border-right: 3px solid deepskyblue;
  border-radius: 10px;
  overflow: hidden;
}

.lineQueue {
  margin-top: 20px;
  margin-left: 120px;
  width: 110px;
  height: 150px;
  border-top: 3px solid deepskyblue;
  border-left: 3px solid deepskyblue;
  border-right: 3px solid deepskyblue;
  border-radius: 10px;
  overflow: hidden;
}

.mb-20 {
  margin-bottom: 20px;
}

.stack {
  text-align: center;
  background: #4285f4;
  border-bottom: 3px solid #eee;
  height: 30px;
  color: white;
}

.node {
  border: 2px solid lightskyblue;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding-top: 7px;
  padding-left: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
